services:
  - type: web
    name: bellcorp-backend
    env: node
    rootDir: server
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
